body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F7D5AE;
  overflow-x: hidden;
}

nav {
  background-color: #f0b02a;
}

.img-fluid{
  width: 100%;
  height: auto;
  display:block;
}

.img-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

h1 { 
  position: absolute;
  margin: auto;
  top: 10;
  left:10;
  right:0;
  bottom:0;
  color:#fff;
  height:100px;; 
  width: 1020px;
}

.btn-primary {
  border-radius: 50%;
  color: black;
  border: none;
  background-color: #004179;
}

ul {
  list-style: none;
}

/* sidebar form  */
.fresh-form {
  font-family: Arial;
  width: 400px;
  padding: 1rem;
  display: inline-block;
}

.fresh-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 13px;
}

.fresh-title {
  margin-bottom: 0.5rem;
}

.fresh-field-wrapper {
  margin-bottom: 1.5rem;
}

.fresh-input {
  width: 50%;
  background-color: #f2f2f2;
  border: 0;
  padding: 1rem;
}

.fresh-button {
  border: 0;
  background-color:#004179;
  display: inline-block;
  cursor: pointer;
  color: #CACACA;
  font-size: 15px;
  padding: 10px 20px;
  margin-right: 1rem;
  text-decoration: none;
}
